<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cloudnest.jiolive"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.cloudnest.jiolive.utils.MyAppClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.cloudnest.jiolive.RazorPayActivity" />
        <activity android:name="com.cloudnest.jiolive.SearchActivity" />
        <activity
            android:name="com.cloudnest.jiolive.PapalPaymentActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity android:name="com.cloudnest.jiolive.WebViewActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_application_id" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />
        <!-- facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" /> <!-- razorpay metadata -->
        <!--
 <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_eHkQKgddhVS9ub"/>
        -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- facebook end -->
        <activity
            android:name="com.cloudnest.jiolive.TermsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.ReplyActivity"
            android:label="@string/title_activity_reply"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cloudnest.jiolive.ProfileActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.PassResetActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.SearchResultActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.SignUpActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.LoginActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.DetailsActivity"
            android:configChanges="screenLayout|screenSize|orientation"
            android:label="@string/title_activity_details"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- android:configChanges="screenLayout|screenSize|orientation" -->
        <activity
            android:name="com.cloudnest.jiolive.MainActivity"
            android:theme="@style/AppTheme.Nobar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cloudnest.jiolive.SettingsActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cloudnest.jiolive.ItemMovieActivity"
            android:label="@string/title_activity_item_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cloudnest.jiolive.ItemTVActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.ItemSeriesActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.SubscriptionActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.StripePaymentActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.PurchasePlanActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.cloudnest.jiolive.DownloadActivity"
            android:theme="@style/AppTheme.Nobar" />

        <service android:name="com.cloudnest.jiolive.service.DownloadService"/>

        <service android:name="com.cloudnest.jiolive.service.FileDownloadJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

    </application>

</manifest>